*~
*.zip
*.gz
*.Z
*.log
*.sw[op]
*.orig
*.reject
*.a
*.so
*.deb
*.rpm
/_CPack_Packages/
/install_manifest.txt
/CMakeCache.txt
/CMakeFiles/
/TAGS
/tags
/build

/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/Makefile
/cmake_install.cmake
/include/
/test_address
/test_base58
/test_exchange_tx
/test_mass_transfer_tx
/Testing/
